<%- include('partials/header'); -%>

<section id="Home" class="home active">
    <h2>Hi! My Name Is</h2>
    <h1 class="home__name"><%= fname ;%> <span class="home__name--last"><%= lname ;%> </span></h1>
    <h2>
        Web Developer, Designer & Programmer
    </h2>
</section>
<%- include('partials/about'); -%>
<%- include('partials/projects'); -%>
<%- include('partials/contact'); -%>
<%- include('partials/footer'); -%>